.header {
  margin-top: var(--mantine-spacing-lg);
  margin-bottom: var(--mantine-spacing-xl);
  background-color: var(--mantine-color-body);

  @media (max-width: $mantine-breakpoint-sm) {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--mantine-spacing-lg);

  @media (min-width: $mantine-breakpoint-sm) {
    justify-content: start;
  }
}

.inner {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,2989d8+30,207cca+65,7db9e8+100 */
  background: linear-gradient(45deg,  #1e5799 0%,#2989d8 30%,#207cca 65%,#7db9e8 100%);

  @media (max-width: $mantine-breakpoint-sm) {
    background: none;
  }
}

.innerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--mantine-spacing-sm) 0;

  @media (max-width: $mantine-breakpoint-sm) {
    justify-content: start;
  }
}

.logo {
  width: rem(300px);
  height: auto;

  @media (max-width: $mantine-breakpoint-sm) {
    margin-left: rem(30px);
    width: rem(200px);
  }
}

.link {
  display: block;
  line-height: 1;
  padding: rem(8px) rem(12px);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-md);
  font-weight: 500;

  @mixin hover {
    /* background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6)); */
    border-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }
}